* {
    padding: 0;
    margin: 0;
    
}

:root {
    --dark-blue: #253659;
    --yellow: #F2C777;
    --text-size: 12px;
    --title-size: 20px;
    --subtitle-size: 16px;
}

body {
    margin: auto;
    /* background: linear-gradient(180deg, #0D1526 0%, #0A101D 0%, #0D1526 0.01%, #1E315A 100%); */
    font-family: 'Lexend', sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

nav {
    width: 100vw;
    height: 7vh;
    margin: auto;
    background-color: #25365986;
    position: fixed;
    z-index: 5;
}

#nav-list {
    margin: auto;
    margin-top: 20px;
    width: 40vw;
    display: flex;
    justify-content: space-around;
}

#nav-list a {
    transition: 0.5;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.3rem;
}

#nav-list a:hover {
    color: var(--yellow);
}

main {
    margin: auto;
}

.parallax {
    height: 100vh!important;
    display: flex;
    justify-content: center;
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url("../images/dragon_dark_blue_background_paralax_darker.jpg");
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 30%;
    gap: 10%;
    align-self: space-around;
    width: 60vw;
}

.grid-item-1 {
    align-self: center;
}

h1 {
    color: var(--yellow);
    font-size: 60px;
}

h2, p {
    color: white;
}

#btn_read_more {
    margin: 4em 0;
    width: 10em;
    height: 3em;
    border-radius: 2px;
    border: none;
    background-color: var(--yellow);
    transition: 0.5s;
}

#btn_read_more:hover {
    background-color: white;
}

#btn_read_more p {
    color: var(--dark-blue);
    font-family: 'Lexend', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
}

#img_personal {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../images/image.png");
    border-radius: 10px;
}

section.test-flexbox{
    height: 100vh!important;
    background-color: rgb(10, 167, 140);
}

.container-flex {
    width: 50%;
    margin: 5em auto;
}

.box-flex {
    background-color: white;
    height: 200px;
    width: 200px;
    margin: 10px;
}
